.battery {
  /*width:180;*/
  padding-bottom:20px;
  padding-right:20px;
}

.battery  .ui-block-a{
  width:90px;
}

.battery img {
  width:96px;
  height:96px;
  margin-top:5px;
  padding-right:10px;
}

.battery .ui-field-contain {
  border-bottom:0px;
  padding-bottom:5px;
  padding-top:0px;
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom:0px;
}

.battery .name {
  font-weight:bold;
  font-size:18px;
}

@media only screen and (min-device-width:500px){
  .battery {
    width:180;
    padding-bottom:20px;
    padding-right:20px;
    float:left;
  }
}