.weather {
  position: relative;
  height:110px;
}

.weather content{
  width:90px;
  display:block;
  color:white;
  background:#ccc;
  border-radius: 10px;
  padding:5px;
  height:70px;
  position: absolute;
  z-index: 1000;
}

.weather img {
  height:55px;
  position: absolute;
}

.weather city {
  padding-top:25px;
}

.weather img,
.weather city,
.weather temp,
.weather desc {
  display:block;
  text-align:right;
  font-size:11px;
  font-weight:normal;
}
